<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.topan.administrasisistemjaringan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdministrasiSistemJaringan"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".LoginActivity"/>
        <activity android:name=".SoalPageActivity" />
        <activity android:name=".VideoPageActivity" />
        <activity android:name=".JobsheetPageActivity" />
        <activity android:name=".MateriPageActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".SilabusActivity" />
        <activity android:name=".ListJobsheetActivity" />
        <activity android:name=".ListSoalActivity" />
        <activity android:name=".ListVideoActivity" />
        <activity android:name=".ListMateriActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>